html {
  overflow-x: hidden;
  overflow-y: scroll;
  border: #98b2e6 6px hidden;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 60px;
  border: black hidden 3px;
  background-color: #4E5680;
  margin-bottom: 20px;
}
header .nav ul li a {
  position: relative;
  border: 1px hidden blue;
  letter-spacing: 2px;
  text-align: right;
  font-family: "Raleway", sans-serif;
  top: 20px;
  width: auto;
  height: auto;
}

.nav ul li {
  height: auto;
  border: 1px hidden black;
  font-size: 20px;
  display: inline;
  position: relative;
  left: 0;
  padding: 0;
}
.nav ul li a {
  border: 1px solid red;
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
  float: right;
  margin-right: 20px;
}

.sidebar {
  width: 18%;
  background-color: #f1f1f1;
  position: relative;
  float: left;
  height: 350px;
  overflow: auto;
  font-family: "Raleway", sans-serif;
}
.sidebar ul li {
  list-style-type: none;
  margin-left: 0;
}
.sidebar a {
  display: block;
  color: #4E5680;
  padding: 16px;
  text-decoration: none;
}
.sidebar a .active {
  background-color: #4E5680;
  color: white;
}
.sidebar a .active :hover:not(.active) {
  background-color: #555;
  color: white;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  color: #98b2e6;
}

h3 {
  color: #4E5680;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

input[type=text], select, textarea {
  font-family: "Raleway", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  font-family: "Raleway", sans-serif;
  background-color: #4E5680;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

input[type=submit]:hover {
  background-color: #98b2e6;
}

.container {
  float: left;
  height: 600px;
  width: 48%;
  margin: 10px;
  background-color: #f2f2f2;
  padding: 0 10px;
}

.container2 {
  float: left;
  height: 600px;
  width: 48%;
  margin: 10px;
  background-color: #f2f2f2;
  padding: 0 10px;
}

@media screen and (max-width: 1024px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }

  .container {
    float: left;
    height: 600px;
    width: 45%;
    margin-left: 30px;
    background-color: #f2f2f2;
    padding: 0 10px;
  }

  .container2 {
    float: left;
    height: 600px;
    width: 45%;
    margin: 10px;
    background-color: #f2f2f2;
    padding: 0 10px;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
  }

  header {
    width: 100%;
    height: 60px;
    border: black hidden 3px;
    background-color: #4E5680;
    margin-bottom: 20px;
  }
  header .nav ul li a {
    position: relative;
    border: 1px hidden blue;
    letter-spacing: 2px;
    text-align: right;
    font-family: "Raleway", sans-serif;
    top: 20px;
    width: auto;
    height: auto;
  }

  .nav ul li {
    height: auto;
    border: 1px hidden black;
    font-size: 20px;
    display: inline;
    position: relative;
    left: 0;
    padding: 0;
  }

  .container {
    float: left;
    height: 600px;
    width: 40%;
    margin-left: 30px;
    background-color: #f2f2f2;
    padding: 0 10px;
  }

  .container2 {
    float: left;
    height: 600px;
    width: 40%;
    margin: 10px;
    background-color: #f2f2f2;
    padding: 0 10px;
  }
}

/*# sourceMappingURL=profile.css.map */
