<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/134ff1f3d5.js" crossorigin="anonymous"></script>
    <link href="../styles/explore.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <nav class="nav">
        <ul>
            <li><a class="active" href="settings.html"><i class="fas fa-user-circle fa-lg"></i></a></li>
            <li><a class="active" href="explore.html">explore</a></li>
        </ul>
    </nav>
</header>

<div id="banner">
    <h1>Creative Critiques</h1>
</div>

<div class="row">
    <div class="column">
        <a href="profile.html"><img src="../img/bunny.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: Captured</h3></div>
        <div><h3>Creative: -A</h3></div>
        <a href="profile.html"><img src="../img/bird.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: Miles below</h3></div>
        <div><h3>Creative: By B</h3></div>
        <a href="profile.html"><img src="../img/blackwhite.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: Under the Sea</h3></div>
        <div><h3>Creative: Shotby22</h3></div>
    </div>
    <div class="column">
        <a href="profile.html"><img src="../img/cat.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: Mick's Portfolio</h3></div>
        <div><h3>Creative: Mick C</h3></div>
        <a href="profile.html"><img src="../img/gray.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: Mick's Portfolio</h3></div>
        <div><h3>Creative: Mick C</h3></div>
        <a href="profile.html"> <img src="../img/jfish.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: Mick's Portfolio</h3></div>
        <div><h3>Creative: Mick C</h3></div>
    </div>
    <div class="column">
        <a href="profile.html"><img src="../img/shark.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: Untitled</h3></div>
        <div><h3>Creative: Anonymous</h3></div>
        <a href="profile.html"> <img src="../img/background.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: GeeGee's Artwork</h3></div>
        <div><h3>Creative: GeeGee Mai</h3></div>
        <a href="profile.html"> <img src="../img/meerkat.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: J's Portfolio</h3></div>
        <div><h3>Creative: J D</h3></div>
    </div>
    <div class="column">
        <a href="profile.html"><img src="../img/paint.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: Rory's Lookbook</h3></div>
        <div><h3>Creative: Rory Gilmore</h3></div>
        <a href="profile.html"><img src="../img/raccoon.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: Animals</h3></div>
        <div><h3>Creative: John Goe</h3></div>
        <a href="profile.html"><img src="../img/swirl.jpg" style="width:100%" alt=""></a>
        <div><h3>Title: Abstract views</h3></div>
        <div><h3>Creative: Meki Guy</h3></div>
    </div>
</div>

</body>
</html>




