<!DOCTYPE html>
<html lang = "en-US">
<head>
  <meta charset = "UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <script src="https://kit.fontawesome.com/134ff1f3d5.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href="../styles/login.css" rel="stylesheet">
</head>
<body>
<header>
  <nav class="nav">
    <ul>
      <li><a href="signup.html">home</a></li>
      <li><a href="explore.html">explore</a></li>
    </ul>
  </nav>
</header>
  <h1>Creative <i class="fas fa-palette"></i> Critiques</i></h1>
  <div class="sign-up-box">
    <h2>LOGIN TO YOUR ACCOUNT</h2>
    <form method="POST" action="/login">
      <label>
        <input type="text" name="user" placeholder="Username" />
      </label>
      <label>
        <input type="password" name="pass" placeholder="Password" />
      </label>
      <label>
        <input type="submit" value="Sign Up">
      </label>
    </form>
  </div>
</body>

